<ion-modal-view class="product edit create">
  <form name="itemEdit" novalidate>
    <ion-header-bar class="bar-positive fix-buttons">
      <a class="button" ng-click="closeModal2()">Cancel</a>
      <h1 class="title">Help Megha</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">
          <div>
          {{score}}
      </div>

      <div class="row description-row">
        <div class="col">
          <p>My name is Megha.I am married and help me in making a decison</p>
        </div>
      </div>

      <div>
      <button class="button" ng-click="reduce()">IUCD</button>
      <button class="button" ng-click="increase()">CONDOM</button>
      <button class="button" ng-click="reduce()">PILLS</button>
      <button class="button" ng-click="reduce()">Tubectron</button>
     </div>

    </ion-content>
  </form>
</ion-modal-view>