 <ion-view view-title="Home">

      <ion-content class="padding">
        <div>
          <a  class="item item-thumbnail-left" ng-click="femaleModal()">
            
            <img src="http://placehold.it/50x50"> 
            <h4>SHE</h4>
          </a>
        </div>

        <div>
          <a  class="item item-thumbnail-left" ng-click="maleModal()">
            
            <img src="http://placehold.it/50x50"> 
            <h4>He</h4>
          </a>
          <audio id="audio" src="/www/mp3/mpthreetest.mp3"></audio>
        </div>
        <div>
          <audio id="audio" src="/www/mp3/mpthreetest.mp3"></audio>

        </div>

      
        <div >
          <p>{{score}}</p>
        </div>
      </ion-content>
    
</ion-view>
